{% comment %}
  Renders a product media gallery. Should be used with 'media-gallery.js'
  Also see 'product-media-modal'

  Accepts:
  - product: {Object} Product liquid object
  - variant_images: {Array} Product images associated with a variant
  - is_duplicate: {Boolean} Prevents rendering uneeded elements and duplicate ids for subsequent instances

  Usage:
  {% render 'product-media-gallery', is_duplicate: true %}
{% endcomment %}
{% assign section_id = 'FeaturedProduct-' | append: section_id %}
{%- liquid
  if section.settings.hide_variants and variant_images.size == product.media.size
    assign single_media_visible = true
  endif

  assign media_count = product.media.size
  if section.settings.hide_variants and media_count > 1 and variant_images.size > 0
    assign media_count = media_count | minus: variant_images.size | plus: 1
  endif

  if section.settings.media_size == 'large'
    assign media_width = 0.65
  elsif section.settings.media_size == 'medium'
    assign media_width = 0.55
  elsif section.settings.media_size == 'small'
    assign media_width = 0.45
  endif

  assign id_append = ''
  if is_duplicate
    assign id_append = '-duplicate'
  endif

  assign thumbs_aspect_ratio = thumbs_aspect_ratio | default: 'original'
-%}

<div
  role="region"
  {% if section.settings.enable_sticky_info %}
    class="product__column-sticky"
  {% endif %}
  aria-label="{{ 'products.product.media.gallery_viewer' | t }}"
  data-desktop-layout="{{ section.settings.gallery_layout }}"
>
  <div id="GalleryStatus-{{ section.id }}" class="visually-hidden" role="status"></div>
  <div id="GalleryViewer-{{ section.id }}{{ id_append }}" class="slider-mobile-gutter">
    {%- unless is_duplicate -%}
      <a class="skip-to-content-link button visually-hidden quick-add-hidden" href="#ProductInfo-{{ section.id }}">
        {{ 'accessibility.skip_to_product_info' | t }}
      </a>
    {%- endunless -%}
    <div class="product-gallery__box" id="photoswipe__gallery">
      <ul
        id="Slider-Gallery-{{ section.id }}{{ id_append }}"
        class="contains-media list-unstyleds product-swiper"
      >
        <div class="swiper-wrapper">
          {%- if product.selected_or_first_available_variant.featured_media != null -%}
            {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
            <li
              role="listitem"
              id="Slide-{{ section.id }}-{{ featured_media.id }}{{ id_append }}"
              class=" grid__item slider__slide is-active{% if single_media_visible %} product__media-item--single{% endif %}{% if featured_media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains featured_media.src %} product__media-item--variant{% endif %} swiper-slide"
              data-media-id="{{ section.id }}-{{ featured_media.id }}"
            >
              {%- assign media_position = 1 -%}
              {% render 'product-thumbnail',
                media: featured_media,
                media_count: media_count,
                position: media_position,
                desktop_layout: section.settings.gallery_layout,
                mobile_layout: section.settings.mobile_thumbnails,
                loop: section.settings.enable_video_looping,
                modal_id: section.id,
                xr_button: true,
                media_width: media_width,
                media_fit: section.settings.media_fit,
                constrain_to_viewport: section.settings.constrain_to_viewport,
                lazy_load: false
              %}
            </li>
          {%- endif -%}
          {% unless product == blank %}
            {%- for media in product.media -%}
              {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
                <li
                  id="Slide-{{ section.id }}-{{ media.id }}{{ id_append }}"
                  class="grid__item slider__slide{% if single_media_visible %} product__media-item--single{% endif %}{% if product.selected_or_first_available_variant.featured_media == null and forloop.index == 1 %} is-active{% endif %}{% if media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains media.src %} product__media-item--variant{% endif %} swiper-slide"
                  data-media-id="{{ section.id }}-{{ media.id }}"
                >
                  {%- liquid
                    assign media_position = media_position | default: 0 | plus: 1
                    assign lazy_load = false
                    if media_position > 1
                      assign lazy_load = true
                    endif
                  -%}
                  {% render 'product-thumbnail',
                    media: media,
                    media_count: media_count,
                    position: media_position,
                    desktop_layout: section.settings.gallery_layout,
                    mobile_layout: section.settings.mobile_thumbnails,
                    loop: section.settings.enable_video_looping,
                    modal_id: section.id,
                    xr_button: false,
                    media_width: media_width,
                    media_fit: section.settings.media_fit,
                    constrain_to_viewport: section.settings.constrain_to_viewport,
                    lazy_load: lazy_load
                  %}
                </li>
              {%- endunless -%}
            {%- endfor -%}
          {% else %}
            {% for i in (1..3) %}
              {% assign product_placeholder = 'product-' | append: i %}
              <li
                id="Slide-{{ section.id }}-{{ media.id }}{{ id_append }}"
                class=" grid__item slider__slide{% if single_media_visible %} product__media-item--single{% endif %}{% if product.selected_or_first_available_variant.featured_media == null and forloop.index == 1 %} is-active{% endif %}{% if media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains media.src %} product__media-item--variant{% endif %} swiper-slide"
                data-media-id="{{ section.id }}-{{ media.id }}"
              >
                <div
                  class="product-media-container media-type-{{ media.media_type }} media-fit-{{ media_fit }} global-media-settings gradient{% if constrain_to_viewport %} constrain-height{% endif %}"
                >
                  {% render 'image-block',
                    image: product.featured_image,
                    placeholder_svg: product_placeholder,
                    picture_classes: 'product-card__picture'
                  %}
                </div>
              </li>
            {% endfor %}
          {% endunless %}
        </div>
      </ul>
      <div class="swiper-button-prev product-media-button">{% render 'icon-arrow' %}</div>
      <div class="swiper-button-next product-media-button">{% render 'icon-arrow' %}</div>
    </div>
  </div>
    <div
      id="GalleryThumbnails-{{ section.id }}{{ id_append }}"
      class="{% if media_count <= 3 %} thumbnail-slider--no-slide{% endif %}"
    >
      <ul
        id="Slider-Thumbnails-{{ section.id }}{{ id_append }}"
        class="product-thumbnails-swiper"
      >
        <div class="swiper-wrapper">
          {%- capture sizes -%}
          (min-width: {{ settings.page_width }}px) calc(({{ settings.page_width | minus: 100 | times: media_width | round }} - 4rem) / 4),
          (min-width: 990px) calc(({{ media_width | times: 100 }}vw - 4rem) / 4),
          (min-width: 750px) calc((100vw - 15rem) / 8),
          calc((100vw - 8rem) / 3)
        {%- endcapture -%}

          {%- if featured_media != null -%}
            {%- liquid
              capture media_index
                if featured_media.media_type == 'model'
                  increment model_index
                elsif featured_media.media_type == 'video' or featured_media.media_type == 'external_video'
                  increment video_index
                elsif featured_media.media_type == 'image'
                  increment image_index
                endif
              endcapture
              assign media_index = media_index | plus: 1
            -%}
            <li
              id="Slide-Thumbnails-{{ section.id }}-0{{ id_append }}"
              class="{% if section.settings.hide_variants and variant_images contains featured_media.src %} thumbnail-list_item--variant{% endif %} swiper-slide"
              data-target="{{ section.id }}-{{ featured_media.id }}"
              data-media-position="{{ media_index }}"
            >
              {%- capture thumbnail_id -%}
              Thumbnail-{{ section.id }}-0{{ id_append }}
            {%- endcapture -%}
              <button
                class="global-media-settings "
                aria-label="{%- if featured_media.media_type == 'image' -%}{{ 'products.product.media.load_image' | t: index: media_index }}{%- elsif featured_media.media_type == 'model' -%}{{ 'products.product.media.load_model' | t: index: media_index }}{%- elsif featured_media.media_type == 'video' or featured_media.media_type == 'external_video' -%}{{ 'products.product.media.load_video' | t: index: media_index }}{%- endif -%}"

                aria-controls="GalleryViewer-{{ section.id }}{{ id_append }}"
                aria-describedby="{{ thumbnail_id }}"
              >
                {% assign thumb_picture_class = ' thumb-image ' | append: thumbs_aspect_ratio %}
                {% render 'image-block',
                  image: featured_media.preview_image,
                  sizes: sizes,
                  widths: '54, 74, 104, 162, 208, 324, 416',
                  picture_classes: thumb_picture_class,
                  image_classes: ' thumb-image '
                %}
              </button>
            </li>
          {%- endif -%}
          {% unless product == blank %}
            {%- for media in product.media -%}
              {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
                {%- liquid
                  capture media_index
                    if media.media_type == 'model'
                      increment model_index
                    elsif media.media_type == 'video' or media.media_type == 'external_video'
                      increment video_index
                    elsif media.media_type == 'image'
                      increment image_index
                    endif
                  endcapture
                  assign media_index = media_index | plus: 1
                -%}
                <li
                  id="Slide-Thumbnails-{{ section.id }}-{{ forloop.index }}{{ id_append }}"
                  class="{% if section.settings.hide_variants and variant_images contains media.src %} thumbnail-list_item--variant{% endif %} swiper-slide"
                  data-target="{{ section.id }}-{{ media.id }}"
                  data-media-position="{{ media_index }}"
                >
                  {%- if media.media_type == 'model' -%}
                    <span class="thumbnail__badge" aria-hidden="true">
                      {%- render 'icon-3d-model' -%}
                    </span>
                  {%- elsif media.media_type == 'video' or media.media_type == 'external_video' -%}
                    <span class="thumbnail__badge" aria-hidden="true">
                      {%- render 'icon-play' -%}
                    </span>
                  {%- endif -%}
                  {%- capture thumbnail_id -%}
                Thumbnail-{{ section.id }}-{{ forloop.index }}{{ id_append }}
              {%- endcapture -%}
                  <button
                    class="global-media-settings"
                    aria-label="{%- if media.media_type == 'image' -%}{{ 'products.product.media.load_image' | t: index: media_index }}{%- elsif media.media_type == 'model' -%}{{ 'products.product.media.load_model' | t: index: media_index }}{%- elsif media.media_type == 'video' or media.media_type == 'external_video' -%}{{ 'products.product.media.load_video' | t: index: media_index }}{%- endif -%}"
                    {% if media == product.selected_or_first_available_variant.featured_media
                      or product.selected_or_first_available_variant.featured_media == null
                      and forloop.index == 1
                    %}
                    {% endif %}
                    aria-controls="GalleryViewer-{{ section.id }}{{ id_append }}"
                    aria-describedby="{{ thumbnail_id }}"
                  >
                    {% assign thumb_picture_class = ' thumb-image ' | append: thumbs_aspect_ratio %}
                    {% render 'image-block',
                      image: media.preview_image,
                      sizes: sizes,
                      widths: '54, 74, 104, 162, 208, 324, 416',
                      picture_classes: thumb_picture_class,
                      image_classes: ' thumb-image '
                    %}
                  </button>
                </li>
              {%- endunless -%}
            {%- endfor -%}
          {% else %}
            {% for i in (1..3) %}
              {% assign product_placeholder = 'product-' | append: i %}
              <li
                id="Slide-Thumbnails-{{ section.id }}-{{ forloop.index }}{{ id_append }}"
                class="{% if section.settings.hide_variants and variant_images contains media.src %} thumbnail-list_item--variant{% endif %} swiper-slide thumbnail-list_item--placeholder"
                data-target="{{ section.id }}-{{ media.id }}"
                data-media-position="{{ media_index }}"
              >
                {%- capture thumbnail_id -%}
                Thumbnail-{{ section.id }}-{{ forloop.index }}{{ id_append }}
              {%- endcapture -%}
                <button
                  class="global-media-settings"
                  aria-label="{%- if media.media_type == 'image' -%}{{ 'products.product.media.load_image' | t: index: media_index }}{%- elsif media.media_type == 'model' -%}{{ 'products.product.media.load_model' | t: index: media_index }}{%- elsif media.media_type == 'video' or media.media_type == 'external_video' -%}{{ 'products.product.media.load_video' | t: index: media_index }}{%- endif -%}"
                  {% if media == product.selected_or_first_available_variant.featured_media
                    or product.selected_or_first_available_variant.featured_media == null
                    and forloop.index == 1
                  %}
                  {% endif %}
                  aria-controls="GalleryViewer-{{ section.id }}{{ id_append }}"
                  aria-describedby="{{ thumbnail_id }}"
                >
                  {% assign thumb_picture_class = ' thumb-image ' | append: thumbs_aspect_ratio %}
                  {%
                    render 'image-block',
                    image: product.preview_image,
                    sizes: sizes,
                    widths: '54, 74, 104, 162, 208, 324, 416',
                    picture_classes: thumb_picture_class,
                    image_classes: ' thumb-image ',
                    placeholder_svg: product_placeholder,
                  %}
                </button>
              </li>
            {% endfor %}
          {% endunless %}
        </div>
        <div class="swiper-thumbs-button-prev small-hide">{% render 'icon-arrow' %}</div>
        <div class="swiper-thumbs-button-next small-hide">{% render 'icon-arrow' %}</div>
      </ul>
    </div>
</div>

